#about > p
{
    float: none;
}


#about > img
{
    float: left;
    width: 100%;
    background-color: white;
}

#about
{
    display: inline-block;
}

#about-text
{
    float: left;
    padding: 1em;
    padding-top: 1.5em;
    background-color: white;
}